<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Forum - TErA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <a href="/"><div class="header_item"><span>TErA</span></div></a>
        <div>
            <div class="strt_post_button">NeW poSt beta</div>
        </div>
    </header>

    <div class="body_forum">
        <div class="container_forum">
            {% for item in posts %}
            <div class="item_forum" id="{{ item['id'] }}">
                <div class="content_item_forum">{{ item["content"] }}</div>
                <div class="objects_item_forun">
                    {% if item["personal_reaction"] == 1 %}
                    <div style=" display: flex; flex-direction: row; gap: 20px; border-radius: 20px; background-color: rgb(235, 132, 132);">
                        <button class="upvoute_button" id="upvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-up-svgrepo-com.svg" alt="arrow-up" style="width: 100%;">
                        </button>
                        <div class="forum_reacts_count">{{ item["total_likes" ]}}</div>
                        <button  class="downvoute_button" id="downvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-down-svgrepo-com.svg" alt="arrow-down" style="width: 100%;">
                        </button>
                    </div>
                    {% elif item["personal_reaction"] == -1 %}
                    <div style=" display: flex; flex-direction: row; gap: 20px; border-radius: 20px; background-color: rgb(146, 144, 255);">
                        <button class="upvoute_button" id="upvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-up-svgrepo-com.svg" alt="arrow-up" style="width: 100%;">
                        </button>
                        <div class="forum_reacts_count">{{ item["total_likes" ]}}</div>
                        <button  class="downvoute_button" id="downvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-down-svgrepo-com.svg" alt="arrow-down" style="width: 100%;">
                        </button>
                    </div>
                    {% else %}
                    <div style=" display: flex; flex-direction: row; gap: 20px; border-radius: 20px;">
                        <button class="upvoute_button" id="upvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-up-svgrepo-com.svg" alt="arrow-up" style="width: 100%;">
                        </button>
                        <div class="forum_reacts_count">{{ item["total_likes" ]}}</div>
                        <button  class="downvoute_button" id="downvoute" name="{{ item['id'] }}">
                            <img src="../static/svg/arrow-down-svgrepo-com.svg" alt="arrow-down" style="width: 100%;">
                        </button>
                    </div>
                    {% endif %}
                    <div style=" display: flex; flex-direction: row; gap: 40px">
                        <div class="username">{{ item["username"] }}</div>
                        <button class="comments_button" id="{{ item['id'] }}">comments</button>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
<script src="../static/javascript/forum.js"></script>
<script src="../static/javascript/check_token.js"></script>
</body>
</html>

